<div class="container text-center mt-4">
  <h1 class="display-4">Stats</h1>
  <dl class="row" style="width: 50%; margin: auto;">
    <dt class="col-sm-6">Games played</dt>
    <dd class="col-sm-6">{{ statsData?.gamesPlayed }}</dd>

    <dt class="col-sm-6">Wins</dt>
    <dd class="col-sm-6">{{ statsData?.winCount }}</dd>

    <dt class="col-sm-6">Kills</dt>
    <dd class="col-sm-6">{{ statsData?.kills }}</dd>

    <dt class="col-sm-6">Deaths</dt>
    <dd class="col-sm-6">{{ statsData?.deaths }}</dd>

    <dt class="col-sm-6"><abbr title="kill-death rate (kills/deaths)">KDR</abbr></dt>
    <dd class="col-sm-6">{{ (statsData?.kills / statsData?.deaths) | number:'1.2-2' }}</dd>
  </dl>
  <h2 class="mt-3">Weapon stats</h2>
  <table class="table mt-2">
    <thead>
      <tr>
        <th scope="col">Weapon</th>
        <th scope="col">Damage dealt</th>
        <th scope="col">Damage taken</th>
        <th scope="col">Damage dealt / taken</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of statsData?.weaponStats">
        <th scope="row">{{ data.weaponName }}</th>
        <td>{{ data.damageDealt }}</td>
        <td>{{ data.damageTaken }}</td>
        <td>{{ (data.damageDealt / data.damageTaken) | number:'1.2-2' }}</td>
      </tr>
    </tbody>
  </table>
</div>

