<div class="container mt-4">
  <a *ngIf="showBackBtn" id="back-btn" class="btn btn-outline-primary" [routerLink]="['/login']">Back</a>
  <h1 class="display-4 text text-center">About</h1>
  <p class="lead text-center">Kill other players before they kill you! Collect weapons and shoot enemies! First player who earns 5 kills wins!</p>
  <h2>Controls</h2>
  <dl class="row ml-3">
    <dt class="col-sm-3">Movement</dt>
    <dd class="col-sm-9">WASD</dd>

    <dt class="col-sm-3">Aim</dt>
    <dd class="col-sm-9">mouse</dd>

    <dt class="col-sm-3">Change weapon</dt>
    <dd class="col-sm-9">mouse wheel up/down</dd>
  </dl>
  <h2>Game modes</h2>
  <dl class="row ml-3">
    <dt class="col-sm-3">Classic</dt>
    <dd class="col-sm-9">4 players</dd>

    <dt class="col-sm-3">Duel</dt>
    <dd class="col-sm-9">2 players</dd>
  </dl>
  <h2>Weapons</h2>
  <table class="table mt-2">
    <thead>
      <tr>
        <th scope="col">Weapon</th>
        <th scope="col">Color</th>
        <th scope="col">Damage</th>
        <th scope="col">Bullet count</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let weapon of weapons$ | async">
        <th scope="row">{{ weapon.name }}</th>
        <td>
          <svg viewBox="0 0 100 100" height="20" width="20">
            <circle cx="50" cy="50" r="50" [attr.fill]="'#' + weapon.color.toString(16)" />
          </svg>
        </td>
        <td>{{ weapon.damage }}</td>
        <td>{{ weapon.bulletCount === -1 ? '∞' : weapon.bulletCount }}</td>
      </tr>
    </tbody>
  </table>
</div>
