<div class="container text-center mt-4">
  <ng-container *ngIf="!error">
    <h1 class="display-4">{{ data?.game.nickname }} won the game!</h1>
    <p class="lead">
      Duration: <b>{{ duration }}</b>
    </p>
    <table class="table mt-5">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Player</th>
          <th scope="col">Kills</th>
          <th scope="col">Deaths</th>
          <th scope="col">Damage dealt</th>
          <th scope="col">Damage taken</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stats of data?.userStats; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ stats.nickname }}</td>
          <td>{{ stats.kills }}</td>
          <td>{{ stats.deaths }}</td>
          <td>{{ stats.weaponStats.damageDealt }}</td>
          <td>{{ stats.weaponStats.damageTaken }}</td>
        </tr>
      </tbody>
    </table>
    <a class="btn btn-primary" [routerLink]="['/app/new_game']">New game</a>
  </ng-container>
  <ng-container *ngIf="error">
    <h1 class="display-4">Game not found</h1>
  </ng-container>
</div>
