<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['/app/new_game']">Instakill</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [routerLinkActive]="'active'">
        <a class="nav-link" [routerLink]="['/app/new_game']">Play</a>
      </li>
      <li class="nav-item" [routerLinkActive]="'active'">
        <a class="nav-link" [routerLink]="['/app/stats']">Stats</a>
      </li>
      <li class="nav-item" [routerLinkActive]="'active'">
        <a class="nav-link" [routerLink]="['/app/leaderboards']">Leaderboards</a>
      </li>
      <li class="nav-item" [routerLinkActive]="'active'">
        <a class="nav-link" [routerLink]="['/app/about']">About</a>
      </li>
    </ul>
    <span class="navbar-text">
      {{ (authService.userSubject | async)?.email }}
    </span>
    <button class="btn btn-outline-secondary my-2 my-sm-0 ml-3" (click)="logout()">Log out</button>
  </div>
</nav>
<main>
  <router-outlet></router-outlet>
</main>
