<main>
  <div class="container">
    <h1 class="text-center display-3 mt-2">InstaKill</h1>
    <div class="d-flex justify-content-around">
      <div class="card" style="width: 47%;">
        <h5 class="card-header">Log in</h5>
        <div class="card-body">
          <app-login></app-login>
        </div>
      </div>
      <div class="card" style="width: 47%;">
        <h5 class="card-header">Registration</h5>
        <div class="card-body">
          <app-registration></app-registration>
        </div>
      </div>
    </div>
    <div class="text-center mt-5">
      <a class="btn btn-outline-secondary" [routerLink]="['/about']">About</a>
    </div>

  </div>
</main>
