<div class="container text-center wrapper">
  <h1 class="display-4">Choose game mode</h1>
  <div [ngStyle]="{'visibility': (wsService.chosenType | async) ? 'visible' : 'hidden'}" class="alert alert-warning" role="alert">
    Waiting for other players to join {{ wsService.chosenType | async }}
    <!-- <button class="btn btn-warning ml-4">Cancel joining</button> -->
  </div>
  <button class="btn btn-primary start-button mr-5" (click)="joinGame(duel)" [disabled]="!!(wsService.chosenType | async)">Join duel</button>
  <button class="btn btn-primary start-button" (click)="joinGame(classic)" [disabled]="!!(wsService.chosenType | async)">Join classic</button>
</div>
