<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="login-email">Email</label>
    <input
      type="email"
      class="form-control"
      id="login-email"
      aria-describedby="emailHelp"
      formControlName="email"
      required
      [ngClass]="{ 'is-invalid': (email.invalid && (email.dirty || email.touched)) || invalidCredentials}"
    >
    <div *ngIf="email.errors?.required" class="invalid-feedback">
      Please fill in email.
    </div>
  </div>
  <div class="form-group">
    <label for="login-password">Password</label>
    <input
      type="password"
      class="form-control"
      id="login-password"
      formControlName="password"
      required
      [ngClass]="{ 'is-invalid': (password.invalid && (password.dirty || password.touched)) || invalidCredentials }"
    >
    <div *ngIf="password.errors?.required" class="invalid-feedback">
      Please fill in password.
    </div>
  </div>
  <div class="d-flex align-items-center">
    <button type="submit" class="btn btn-primary">Log in</button>
    <p *ngIf="invalidCredentials" class="invalid-feedback m-0 ml-3" style="display: block;">
      Incorrect email address and / or password.
    </p>
  </div>
</form>
