<div class="container text-center mt-4">
  <h1 class="display-4">Leaderboard</h1>
  <table class="table mt-5">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Player</th>
        <th scope="col">Wins</th>
        <th scope="col">Kills</th>
        <th scope="col">Deaths</th>
        <th scope="col"><abbr title="kill-death rate (kills/deaths)">KDR</abbr></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of leaderboardsData$ | async; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ data.nickname }}</td>
        <td>{{ data.winCount }}</td>
        <td>{{ data.kills }}</td>
        <td>{{ data.deaths }}</td>
        <td>{{ data.kdr }}</td>
      </tr>
    </tbody>
  </table>
</div>
