<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="email">Email</label>
    <input
      type="email"
      class="form-control"
      id="email"
      aria-describedby="emailHelp"
      formControlName="email"
      required
      [ngClass]="{ 'is-invalid': (email.invalid && (email.dirty || email.touched)) || emailAlreadyUsed }"
    >
    <div *ngIf="emailAlreadyUsed" class="invalid-feedback">
      Email is already is use.
    </div>
    <div *ngIf="email.errors?.required" class="invalid-feedback">
      Please fill in email.
    </div>
    <div *ngIf="email.errors?.pattern" class="invalid-feedback">
      Email address is not valid.
    </div>
  </div>
  <div class="form-group">
    <label for="nickname">Nickname</label>
    <input
      type="text"
      class="form-control"
      id="nickname"
      aria-describedby="emailHelp"
      formControlName="nickname"
      required
      [ngClass]="{ 'is-invalid': nickname.invalid && (nickname.dirty || nickname.touched) }"
    >
    <div *ngIf="nickname.errors?.required" class="invalid-feedback">
      Please fill in nickname.
    </div>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input
      type="password"
      class="form-control"
      id="password"
      formControlName="password"
      required
      [ngClass]="{ 'is-invalid': password.invalid && (password.dirty || password.touched) }"
    >
    <div *ngIf="password.errors?.required" class="invalid-feedback">
      Please fill in password.
    </div>
    <div *ngIf="password.errors?.minlength" class="invalid-feedback">
      Password must be at least 8 characters long.
    </div>
  </div>
  <div class="form-group">
    <label for="repeatPassword">Repeat password</label>
    <input
      type="password"
      class="form-control"
      id="repeatPassword"
      formControlName="repeatPassword"
      required
      [ngClass]="{ 'is-invalid': (repeatPassword.invalid || registrationForm.errors?.passwordsNotMatching) && (repeatPassword.dirty || repeatPassword.touched) }"
    >
    <div *ngIf="repeatPassword.errors?.required" class="invalid-feedback">
      Please repeat password.
    </div>
    <div *ngIf="registrationForm.errors?.passwordsNotMatching" class="invalid-feedback">
      Passwords have to be equal.
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Register</button>
</form>
