<div class="d-flex">
  <div id="canvas-wrapper"></div>
  <div id="status-panel">
    <div class="d-flex flex-column align-items-center" style="width: 100%;">
      <span>HP</span>
      <span id="hp">{{ hp }}</span>
      <hr>
    </div>
    <div class="text-center">
      <h2>players</h2>
      <table class="table table-borderless table-players">
      <tbody>
        <tr *ngFor="let player of players">
          <td>
            <svg viewBox="0 0 100 100" height="20" width="20">
              <circle cx="50" cy="50" r="50" [attr.fill]="'#' + player.color.toString(16)" />
            </svg>
          </td>
          <td class="td-name">{{ player.nickname }}</td>
          <td>{{ player.kills }}</td>
        </tr>
      </tbody>
    </table>
    </div>
    <div class="text-center">
      <h2>ammo</h2>
      <table class="table table-borderless">
        <tbody>
          <tr *ngFor="let weapon of weapons; let i = index" [ngClass]="{'active-weapon': (weapons.length - 1 - i) === activeWeapon}">
            <td>
              <svg viewBox="0 0 100 100" height="20" width="20">
                <circle cx="50" cy="50" r="50" [attr.fill]="'#' + weapons[weapons.length - 1 - i].color.toString(16)" />
              </svg>
            </td>
            <td>{{ weapons[weapons.length - 1 - i].ammo === Infinity ? '∞' : weapons[weapons.length - 1 - i].ammo }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <button class="btn btn-outline-danger mb-2" style="width: 80%;" (click)="leaveGame()">Leave game</button>
  </div>
</div>
