* {
	margin: 0;
	padding: 0;
}

#status-panel {
  width: 150px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-left: 1px solid #ddd;

  #hp {
    font-size: 60px;
    line-height: 60px;
  }

  hr {
    height: 1px;
    width: 90%;
    margin: 5px 0;
  }

  .td-name {
    max-width: 95px;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .active-weapon {
    background-color: #eee;
  }

  .table-players {
    td {
      padding: 0.75rem 5px;
    }
  }
}

#canvas-wrapper {
  width: calc(100% - 150px);
  height: 100vh;
}
